.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
}
.intro-content {
  display: grid;
  justify-items: start;
  /* padding: 20px 0; */
  padding-bottom: 40px;
}

.intro-content span {
  display: block;
  padding-bottom: 12px;
}

.intro-content p {
  padding: 12px 0 40px 0;
}

.intro-content-button {
  background-color: var(--cor-p2);
  display: flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 100px;
}

.intro-content-button:hover {
  background-color: var(--cor-p3);
}
@media (max-width: 760px) {
  .intro-img {
    max-width: 60%;
  }
}
@media (max-width: 600px) {
  .intro-img {
    display: none;
  }

  .intro {
    justify-content: center;
    padding-top: 120px;
  }

  .intro-content {
    justify-items: center;
    text-align: center;
    
  }

  .intro-content p {
    padding: 12px 0 24px 0;
  }
}

@media (max-width: 365px) {
  .intro {
    padding-top: 170px;
  }
}
