

.skills {
  padding-top: 120px;
  padding-bottom: 120px;
}

.skills-title {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 12px;
}

.skills-content p {
  padding-bottom: 60px;
  max-width: 48ch;
}

.skills-itens{
  display: flex;
  flex-wrap: wrap;
  gap: 28px 98px;
}

.skills-item-title{
  display: block;
  padding-bottom: 12px;
}





@media (max-width: 600px) {
  .skills{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .skills-content p {
    padding-bottom: 40px;    
  }
}

