footer {
  text-align: center;
  padding: 80px 0 40px 0;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 28px;
}
.footer-contacts {
  text-align: left;
}

.footer-contacts p {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer-contacts p + p {
  padding-top: 8px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  margin-bottom: 8px;
  border-bottom: 2px solid;
}
.footer-social-links a {
  cursor: pointer;
}

@media (max-width: 470px) {
  .footer {
    flex-direction: column;
    gap: 40px;
  }
}
