.githubButton {  
  display: flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 100px;
  border: 2px solid var(--cor-5);
}
.githubButton:hover{
  border: 2px solid var(--cor-p2);  
}

@media (max-width: 760px) { 
  .githubButton{
    font-size: 1.2rem;
  }
}