.linkedinButton {
  background-color: var(--cor-p2);
  display: flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 100px;
}

.linkedinButton:hover {
  background-color: var(--cor-p3);
  content: "LinkedIn";
}

@media (max-width: 760px) { 
  .linkedinButton{
    font-size: 1.2rem;
  }
}